.reportCategoryChip {
    display: flex;
    align-items: center;
    gap: 10px;
}

.colorCategory {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.infoCategory {
    color: var(--text-muted);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
}

.percentInfo {
    display: flex;
    margin-left: auto;
}